body {
  background-color: rgb(7, 143, 197);
}

h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex img {
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.flex img:hover {
  transform: scale(1.07);
  box-shadow: 1px 1px 1px 6px white;
}

@media screen and (max-width: 412px) {
  h1 {
    margin: 20px;
    padding: 0;
  }
  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex img {
    width: 80vw;
    height: 140px;
  }
}
