article {
  padding: 0.5rem;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
}

article ul {
  overflow: hidden;
}

article li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

article span {
  color: gray;
}

/* grid view */
main.grid article {
  line-height: 0;
}

main.grid article ul {
  display: none;
}

/* list view */
main.list article {
  display: flex;
}

main.list article img {
  max-width: 4.5rem;
}

main.list article ul {
  margin-left: 1rem;
}

main.list article ul {
  display: block;
}
