body {
  background-color: #f7f7f7;
}

button {
  color: #060505;
  font-size: 1.58rem;
  font-weight: 600;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.generate {
  background-color: rgb(102, 206, 171);
}

.start {
  color: rgb(230, 228, 228);
  background-color: green;
}

.end {
  background-color: red;
}

.obstacle {
  color: rgb(230, 228, 228);
  background-color: black;
}

.clear-all {
  background-color: rgb(183, 162, 3);
}

.best-path {
  background-color: rgb(255, 0, 255);
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 50px);
  gap: 10px;
}

.cell {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}
.cell:hover {
  transform: scale(1.05);
  transition: ease-in;
}

.hover-start {
  background-color: green;
}

.hover-end {
  background-color: red;
}

.hover-obstacle {
  background-color: black;
}
