/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
a,
img,
i,
ul,
li,
aside,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
aside,
footer,
header,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
